{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "FedEO Earth Observation Catalog",
    "description" : "Merged Earth Observation Metadata\nFedEO provides interoperable access, following ISO/OGC interface guidelines, to Earth Observation metadata.\nYou can try all HTTP operations described in this OpenAPI 3.0 specification.",
    "contact" : {
      "name" : "Spacebel s.a.",
      "url" : "http://www.spacebel.be",
      "email" : "yves.coene@spacebel.be"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "1.3",
    "x-origin" : [ {
      "converter" : {
        "url" : "https://github.com/lucybot/api-spec-converter",
        "version" : "2.0.1"
      },
      "format" : "OpenSearch Description Document",
      "url" : "http://qcmms-cat.spacebel.be/eo-catalog/description"
    } ],
    "x-providerName" : "Copyright 2017-2018, European Space Agency.",
    "x-serviceName" : "FedEO"
  },
  "servers" : [ {
    "url" : "https://qcmms-cat.spacebel.be"
  } ],
  "tags" : [ {
    "name" : "Describe",
    "description" : "Describe the catalogue interface."
  }, {
    "name" : "Search",
    "description" : "Search for datasets."
  }, {
    "name" : "Insert",
    "description" : "Insert new a dataset."
  }, {
    "name" : "Delete",
    "description" : "Delete datasets."
  }, {
    "name" : "Update",
    "description" : "Update datasets."
  }, {
    "name" : "CreateQualityIndicators",
    "description" : "Create quality indicators."
  }, {
    "name" : "UpdateQualityIndicators",
    "description" : "Update quality indicators."
  }, {
    "name" : "CreateMetrics",
    "description" : "Create metrics."
  }, {
    "name" : "UpdateMetric",
    "description" : "Update metric."
  }, {
    "name" : "DeleteMetric",
    "description" : "Delete metric."
  } ],
  "paths" : {
    "/eo-catalog/series/{parentIdentifier}/description" : {
      "get" : {
        "tags" : [ "Describe" ],
        "description" : "Get OSDD of a series.",
        "operationId" : "Describe",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        } ],
        "responses" : {
          "201" : {
            "description" : "OSDD is successfully returned"
          },
          "400" : {
            "description" : "Bad request."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      }
    },
    "/eo-catalog/series/{parentIdentifier}/datasets" : {
      "get" : {
        "tags" : [ "Search" ],
        "summary" : "Dataset search (rel=\"results\")",
        "description" : "The endpoint returns information about the *FedEO* dataset matching specific filtering criteria such as organisation, platform, instrument, title, keyword and lists the datasets .\n",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "The id of the dataset series to retrieve dataset",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "httpAccept",
          "in" : "query",
          "description" : "Query parameter to define expected reponse type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/geo+json",
            "enum" : [ "application/atom+xml", "application/geo+json" ]
          }
        }, {
          "name" : "maximumRecords",
          "in" : "query",
          "description" : "Number of records {os:count}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "exclusiveMaximum" : false,
            "minimum" : 0,
            "exclusiveMinimum" : false,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "x-value" : "{count}"
        }, {
          "name" : "startRecord",
          "in" : "query",
          "description" : "Start index of first result {os:startIndex}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          },
          "x-value" : "{startIndex}"
        }, {
          "name" : "startPage",
          "in" : "query",
          "description" : "Start index of first result page {os:startPage}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          },
          "x-value" : "{startPage}"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Free text search term {os:searchTerms}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{searchTerms}"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start datetime of temporal constraint {time:start}.",
          "required" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "x-value" : "{time:start}"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End datetime of temporal constraint {time:end}.",
          "required" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "x-value" : "{time:end}"
        }, {
          "name" : "bbox",
          "in" : "query",
          "description" : "Area of interest {geo:box}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:box}"
        }, {
          "name" : "lat",
          "in" : "query",
          "description" : "Latitude of center of area of interest {geo:lat}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 90,
            "exclusiveMaximum" : false,
            "minimum" : -90,
            "exclusiveMinimum" : false,
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{geo:lat}"
        }, {
          "name" : "lon",
          "in" : "query",
          "description" : "Longitude of center of area of interest {geo:lon}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 180,
            "exclusiveMaximum" : false,
            "minimum" : -180,
            "exclusiveMinimum" : false,
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{geo:lon}"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Name of area of interest {geo:name}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:name}"
        }, {
          "name" : "radius",
          "in" : "query",
          "description" : "Radius of area of interest {geo:radius} in meters.  Is combined with {geo:lon} and {geo:lat} or {geo:name}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "exclusiveMinimum" : false,
            "type" : "number",
            "format" : "double",
            "default" : 100000
          },
          "x-value" : "{geo:radius}"
        }, {
          "name" : "geometry",
          "in" : "query",
          "description" : "Area of interest in WKT format {geo:geometry}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:geometry}"
        }, {
          "name" : "uid",
          "in" : "query",
          "description" : "Local identifier {geo:uid} of the dataset series returned as \\<dc:identifier\\> in response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        }, {
          "name" : "platform",
          "in" : "query",
          "description" : "Satellite name {eo:platform}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:platform}"
        }, {
          "name" : "platformSerialIdentifier",
          "in" : "query",
          "description" : "Satellite serial identifier {eo:platformSerialIdentifier}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:platformSerialIdentifier}"
        }, {
          "name" : "instrument",
          "in" : "query",
          "description" : "Instrument name {eo:instrument}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:instrument}"
        }, {
          "name" : "sensorType",
          "in" : "query",
          "description" : "Sensor type {eo:sensorType}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:sensorType}"
        }, {
          "name" : "resolution",
          "in" : "query",
          "description" : "Sensor resolution {eo:resolution}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:resolution}"
        }, {
          "name" : "creationDate",
          "in" : "query",
          "description" : "Creation date of the datasets {eo:creationDate}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "x-value" : "{eo:creationDate}"
        }, {
          "name" : "modificationDate",
          "in" : "query",
          "description" : "Modification date of the datasets {eo:modificationDate}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "x-value" : "{eo:modificationDate}"
        }, {
          "name" : "productionStatus",
          "in" : "query",
          "description" : "Status of the datasets {eo:productionStatus}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ARCHIVED", "ACQUIRED", "CANCELLED" ]
          },
          "x-value" : "{eo:productionStatus}"
        }, {
          "name" : "acquisitionType",
          "in" : "query",
          "description" : "AcquisitionType of the datasets {eo:acquisitionType}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "NOMINAL", "CALIBRATION", "OTHER" ]
          },
          "x-value" : "{eo:acquisitionType}"
        }, {
          "name" : "orbitNumber",
          "in" : "query",
          "description" : "Orbit number {eo:orbitNumber}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          },
          "x-value" : "{eo:orbitNumber}"
        }, {
          "name" : "orbitDirection",
          "in" : "query",
          "description" : "Orbit direction{eo:orbitDirection}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ASCENDING", "DESCENDING" ]
          },
          "x-value" : "{eo:orbitDirection}"
        }, {
          "name" : "track",
          "in" : "query",
          "description" : "Track {eo:track}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:track}"
        }, {
          "name" : "frame",
          "in" : "query",
          "description" : "Frame {eo:frame}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:frame}"
        }, {
          "name" : "swathIdentifier",
          "in" : "query",
          "description" : "Swath identifier {eo:swathIdentifier}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:swathIdentifier}"
        }, {
          "name" : "lowestLocation",
          "in" : "query",
          "description" : "Lowest location {eo:lowestLocation}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:lowestLocation}"
        }, {
          "name" : "highestLocation",
          "in" : "query",
          "description" : "Highest location {eo:highestLocation}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:highestLocation}"
        }, {
          "name" : "productVersion",
          "in" : "query",
          "description" : "Product version {eo:productVersion}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:productVersion}"
        }, {
          "name" : "productQualityStatus",
          "in" : "query",
          "description" : "Product quality status {eo:productQualityStatus}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:productQualityStatus}"
        }, {
          "name" : "productQualityDegradationTag",
          "in" : "query",
          "description" : "Product quality degradation tag {eo:productQualityDegradationTag}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:productQualityDegradationTag}"
        }, {
          "name" : "processorName",
          "in" : "query",
          "description" : "Processor mame {eo:processorName}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:processorName}"
        }, {
          "name" : "processingCenter",
          "in" : "query",
          "description" : "Processing center {eo:processingCenter}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:processingCenter}"
        }, {
          "name" : "processingDate",
          "in" : "query",
          "description" : "Processing date {eo:processingDate}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "x-value" : "{eo:processingDate}"
        }, {
          "name" : "sensorMode",
          "in" : "query",
          "description" : "Sensor mode {eo:sensorMode}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:sensorMode}"
        }, {
          "name" : "archivingCenter",
          "in" : "query",
          "description" : "Archiving center {eo:archivingCenter}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:archivingCenter}"
        }, {
          "name" : "processingMode",
          "in" : "query",
          "description" : "Processing mode {eo:processingMode}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:processingMode}"
        }, {
          "name" : "acquisitionStation",
          "in" : "query",
          "description" : "Acquisition station {eo:acquisitionStation}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:acquisitionStation}"
        }, {
          "name" : "acquisitionSubType",
          "in" : "query",
          "description" : "Acquisition sub type {eo:acquisitionSubType}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:acquisitionSubType}"
        }, {
          "name" : "startTimeFromAscendingNode",
          "in" : "query",
          "description" : "Start time from ascending node {eo:startTimeFromAscendingNode}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:startTimeFromAscendingNode}"
        }, {
          "name" : "completionTimeFromAscendingNode",
          "in" : "query",
          "description" : "Completion time from ascending node {eo:completionTimeFromAscendingNode}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:completionTimeFromAscendingNode}"
        }, {
          "name" : "illuminationAzimuthAngle",
          "in" : "query",
          "description" : "Illumination azimuth angle {eo:illuminationAzimuthAngle}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:illuminationAzimuthAngle}"
        }, {
          "name" : "illuminationZenithAngle",
          "in" : "query",
          "description" : "Illumination zenit angle {eo:illuminationZenithAngle}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:illuminationZenithAngle}"
        }, {
          "name" : "illuminationElevationAngle",
          "in" : "query",
          "description" : "Illumination elevation angle {eo:illuminationElevationAngle}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          },
          "x-value" : "{eo:illuminationElevationAngle}"
        }, {
          "name" : "productType",
          "in" : "query",
          "description" : "Product Type {eo:productType}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:productType}"
        }, {
          "name" : "processingLevel",
          "in" : "query",
          "description" : "Processing level {eo:processingLevel}.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:processingLevel}"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of dataset series",
            "content" : {
              "application/geo+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureCollection"
                },
                "example" : {
                  "totalResults" : 7,
                  "startIndex" : "1",
                  "itemsPerPage" : "1",
                  "id" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets",
                  "type" : "FeatureCollection",
                  "queries" : {
                    "request" : [ {
                      "eo:parentIdentifier" : "LANDSAT.ETM.GTC",
                      "dc:type" : "dataset",
                      "os:count" : "1",
                      "os:startIndex" : "1"
                    } ]
                  },
                  "properties" : {
                    "creator" : "ESA Catalog",
                    "rights" : "Copyright 2016-2018, European Space Agency",
                    "links" : {
                      "next" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets?httpAccept=application/geo%2Bjson&maximumRecords=1&startRecord=2",
                        "type" : "application/geo+json",
                        "title" : "next results"
                      } ],
                      "search" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/description",
                        "type" : "application/opensearchdescription+xml",
                        "title" : "search"
                      } ],
                      "last" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets?httpAccept=application/geo%2Bjson&maximumRecords=1&startRecord=7",
                        "type" : "application/geo+json",
                        "title" : "last results"
                      } ],
                      "profiles" : [ {
                        "href" : "http://www.opengis.net/spec/owc-geojson/1.0/req/core"
                      } ],
                      "first" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets?httpAccept=application/geo%2Bjson&maximumRecords=1&startRecord=1",
                        "type" : "application/geo+json",
                        "title" : "first results"
                      } ]
                    },
                    "title" : "ESA Catalog - Search Response",
                    "lang" : "en",
                    "updated" : "2019-05-07T16:35:18Z",
                    "authors" : [ {
                      "name" : "ESA Catalog",
                      "type" : "Agent",
                      "email" : "eohelp@eo.esa.int"
                    } ]
                  },
                  "features" : [ {
                    "bbox" : [ -19.2047, 63.136, -14.0659, 65.2798 ],
                    "productInformation" : {
                      "referenceSystemIdentifier" : "epsg:4326",
                      "size" : 187534974,
                      "qualityInformation" : {
                        "productDeliveryControlInformation1" : {
                          "attribute1" : 17,
                          "attribute2" : 19
                        },
                        "productDeliveryControlInformation" : {
                          "attribute1" : 17,
                          "attribute2" : 19
                        },
                        "ordinaryControlInformation" : {
                          "attribute2" : false
                        },
                        "ordinaryControlInformation1" : {
                          "attribute2" : false
                        }
                      },
                      "cloudCover" : 4,
                      "processingMode" : "NOMINAL",
                      "productType" : "ETM_GTC_1P",
                      "availabilityTime" : "2000-01-27T12:20:44Z"
                    },
                    "geometry" : {
                      "coordinates" : [ [ [ -19.2047, 65.224 ], [ -18.8994, 63.136 ], [ -14.134, 63.187 ], [ -14.0659, 65.2798 ], [ -19.2047, 65.224 ] ] ],
                      "type" : "Polygon"
                    },
                    "id" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/geo%2Bjson&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                    "type" : "Feature",
                    "properties" : {
                      "date" : "2000-01-27T12:20:15Z/2000-01-27T12:20:44Z",
                      "identifier" : "LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                      "productId" : "LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                      "parentIdentifier" : "LANDSAT.ETM.GTC",
                      "productInformation" : {
                        "referenceSystemIdentifier" : "epsg:4326",
                        "size" : 187534974,
                        "qualityInformation" : {
                          "productDeliveryControlInformation1" : {
                            "attribute1" : 17,
                            "attribute2" : 19
                          },
                          "productDeliveryControlInformation" : {
                            "attribute1" : 17,
                            "attribute2" : 19
                          },
                          "ordinaryControlInformation" : {
                            "attribute2" : false
                          },
                          "ordinaryControlInformation1" : {
                            "attribute2" : false
                          }
                        },
                        "cloudCover" : 4,
                        "processingMode" : "NOMINAL",
                        "productType" : "ETM_GTC_1P",
                        "availabilityTime" : "2000-01-27T12:20:44Z"
                      },
                      "links" : {
                        "data" : [ {
                          "href" : "http://landsat-ds.eo.esa.int/products/LANDSAT_ETM/2000/01/27/LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299.ZIP",
                          "type" : "application/x-binary",
                          "title" : "Download"
                        } ],
                        "previews" : [ {
                          "href" : "http://landsat-ds.eo.esa.int/metadata/LANDSAT_ETM/2000/01/27/LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299.BP.PNG",
                          "type" : "image/png",
                          "title" : "Quicklook"
                        } ],
                        "up" : [ {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/atom%2Bxml&uid=LANDSAT.ETM.GTC&recordSchema=iso",
                          "type" : "application/atom+xml",
                          "title" : "Up"
                        } ],
                        "alternates" : [ {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/atom%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "application/atom+xml",
                          "title" : "Atom format"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/gml%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=om10",
                          "type" : "application/gml+xml;profile=http://www.opengis.net/spec/EOMPOM/1.0",
                          "title" : "O&M metadata"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/gml%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=om",
                          "type" : "application/gml+xml;profile=http://www.opengis.net/spec/EOMPOM/1.1",
                          "title" : "O&M 1.1 metadata"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/rdf%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "application/rdf+xml",
                          "title" : "RDF/XML format"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/ld%2Bjson&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "application/ld+json",
                          "title" : "JSON-LD format"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=text/turtle&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "text/turtle",
                          "title" : "Turtle format"
                        } ]
                      },
                      "title" : "LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                      "updated" : "2019-01-02T10:02:22Z",
                      "acquisitionInformation" : [ {
                        "instrumentParameters" : {
                          "operationalMode" : "IM"
                        },
                        "acquisitionParameters" : {
                          "acquisitionSubType" : "DEFAULT",
                          "acquisitionType" : "NOMINAL",
                          "beginningDateTime" : "2000-01-27T12:20:15Z",
                          "wrsLongitudeGrid" : "217",
                          "wrsLatitudeGrid" : "15",
                          "endingDateTime" : "2000-01-27T12:20:44Z",
                          "orbitDirection" : "DESCENDING",
                          "orbitNumber" : 4178
                        },
                        "instrument" : {
                          "instrumentShortName" : "ETM",
                          "sensorType" : "OPTICAL"
                        },
                        "platform" : {
                          "platformShortName" : "Landsat",
                          "platformSerialIdentifier" : "7"
                        }
                      } ],
                      "status" : "ARCHIVED"
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request (invalid parameter)"
          },
          "415" : {
            "description" : "Unsupported Media Type."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      },
      "post" : {
        "tags" : [ "Insert" ],
        "description" : "Insert a new dataset to the catalogue.",
        "operationId" : "Insert",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        } ],
        "requestBody" : {
          "description" : "Insert a new dataset to the catalogue.",
          "content" : {
            "application/geo+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Feature"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Dataset has been successfully inserted"
          },
          "400" : {
            "description" : "Bad request."
          },
          "415" : {
            "description" : "Unsupported Media Type."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      }
    },
    "/eo-catalog/series/{parentIdentifier}/datasets/{datasetId}" : {
      "get" : {
        "tags" : [ "Search" ],
        "description" : "Search a dataset from the catalogue.",
        "operationId" : "Search",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        }, {
          "name" : "httpAccept",
          "in" : "query",
          "description" : "Query parameter to define expected reponse type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/geo+json",
            "enum" : [ "application/atom+xml", "application/geo+json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of dataset series",
            "content" : {
              "application/geo+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeatureCollection"
                },
                "example" : {
                  "totalResults" : 7,
                  "startIndex" : "1",
                  "itemsPerPage" : "1",
                  "id" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets",
                  "type" : "FeatureCollection",
                  "queries" : {
                    "request" : [ {
                      "eo:parentIdentifier" : "LANDSAT.ETM.GTC",
                      "dc:type" : "dataset",
                      "os:count" : "1",
                      "os:startIndex" : "1"
                    } ]
                  },
                  "properties" : {
                    "creator" : "ESA Catalog",
                    "rights" : "Copyright 2016-2018, European Space Agency",
                    "links" : {
                      "next" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets?httpAccept=application/geo%2Bjson&maximumRecords=1&startRecord=2",
                        "type" : "application/geo+json",
                        "title" : "next results"
                      } ],
                      "search" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/description",
                        "type" : "application/opensearchdescription+xml",
                        "title" : "search"
                      } ],
                      "last" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets?httpAccept=application/geo%2Bjson&maximumRecords=1&startRecord=7",
                        "type" : "application/geo+json",
                        "title" : "last results"
                      } ],
                      "profiles" : [ {
                        "href" : "http://www.opengis.net/spec/owc-geojson/1.0/req/core"
                      } ],
                      "first" : [ {
                        "href" : "http://qcmms-cat.spacebel.be/eo-catalog/series/LANDSAT.ETM.GTC/datasets?httpAccept=application/geo%2Bjson&maximumRecords=1&startRecord=1",
                        "type" : "application/geo+json",
                        "title" : "first results"
                      } ]
                    },
                    "title" : "ESA Catalog - Search Response",
                    "lang" : "en",
                    "updated" : "2019-05-07T16:35:18Z",
                    "authors" : [ {
                      "name" : "ESA Catalog",
                      "type" : "Agent",
                      "email" : "eohelp@eo.esa.int"
                    } ]
                  },
                  "features" : [ {
                    "bbox" : [ -19.2047, 63.136, -14.0659, 65.2798 ],
                    "productInformation" : {
                      "referenceSystemIdentifier" : "epsg:4326",
                      "size" : 187534974,
                      "qualityInformation" : {
                        "productDeliveryControlInformation1" : {
                          "attribute1" : 17,
                          "attribute2" : 19
                        },
                        "productDeliveryControlInformation" : {
                          "attribute1" : 17,
                          "attribute2" : 19
                        },
                        "ordinaryControlInformation" : {
                          "attribute2" : false
                        },
                        "ordinaryControlInformation1" : {
                          "attribute2" : false
                        }
                      },
                      "cloudCover" : 4,
                      "processingMode" : "NOMINAL",
                      "productType" : "ETM_GTC_1P",
                      "availabilityTime" : "2000-01-27T12:20:44Z"
                    },
                    "geometry" : {
                      "coordinates" : [ [ [ -19.2047, 65.224 ], [ -18.8994, 63.136 ], [ -14.134, 63.187 ], [ -14.0659, 65.2798 ], [ -19.2047, 65.224 ] ] ],
                      "type" : "Polygon"
                    },
                    "id" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/geo%2Bjson&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                    "type" : "Feature",
                    "properties" : {
                      "date" : "2000-01-27T12:20:15Z/2000-01-27T12:20:44Z",
                      "identifier" : "LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                      "productId" : "LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                      "parentIdentifier" : "LANDSAT.ETM.GTC",
                      "productInformation" : {
                        "referenceSystemIdentifier" : "epsg:4326",
                        "size" : 187534974,
                        "qualityInformation" : {
                          "productDeliveryControlInformation1" : {
                            "attribute1" : 17,
                            "attribute2" : 19
                          },
                          "productDeliveryControlInformation" : {
                            "attribute1" : 17,
                            "attribute2" : 19
                          },
                          "ordinaryControlInformation" : {
                            "attribute2" : false
                          },
                          "ordinaryControlInformation1" : {
                            "attribute2" : false
                          }
                        },
                        "cloudCover" : 4,
                        "processingMode" : "NOMINAL",
                        "productType" : "ETM_GTC_1P",
                        "availabilityTime" : "2000-01-27T12:20:44Z"
                      },
                      "links" : {
                        "data" : [ {
                          "href" : "http://landsat-ds.eo.esa.int/products/LANDSAT_ETM/2000/01/27/LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299.ZIP",
                          "type" : "application/x-binary",
                          "title" : "Download"
                        } ],
                        "previews" : [ {
                          "href" : "http://landsat-ds.eo.esa.int/metadata/LANDSAT_ETM/2000/01/27/LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299.BP.PNG",
                          "type" : "image/png",
                          "title" : "Quicklook"
                        } ],
                        "up" : [ {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/atom%2Bxml&uid=LANDSAT.ETM.GTC&recordSchema=iso",
                          "type" : "application/atom+xml",
                          "title" : "Up"
                        } ],
                        "alternates" : [ {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/atom%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "application/atom+xml",
                          "title" : "Atom format"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/gml%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=om10",
                          "type" : "application/gml+xml;profile=http://www.opengis.net/spec/EOMPOM/1.0",
                          "title" : "O&M metadata"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/gml%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=om",
                          "type" : "application/gml+xml;profile=http://www.opengis.net/spec/EOMPOM/1.1",
                          "title" : "O&M 1.1 metadata"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/rdf%2Bxml&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "application/rdf+xml",
                          "title" : "RDF/XML format"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=application/ld%2Bjson&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "application/ld+json",
                          "title" : "JSON-LD format"
                        }, {
                          "href" : "http://geo.spacebel.be/opensearch/request/?httpAccept=text/turtle&parentIdentifier=LANDSAT.ETM.GTC&uid=LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299&recordSchema=server-choice",
                          "type" : "text/turtle",
                          "title" : "Turtle format"
                        } ]
                      },
                      "title" : "LS07_RNSG_ETM_GTC_1P_20000127T122015_20000127T122044_004178_0217_0015_2299",
                      "updated" : "2019-01-02T10:02:22Z",
                      "acquisitionInformation" : [ {
                        "instrumentParameters" : {
                          "operationalMode" : "IM"
                        },
                        "acquisitionParameters" : {
                          "acquisitionSubType" : "DEFAULT",
                          "acquisitionType" : "NOMINAL",
                          "beginningDateTime" : "2000-01-27T12:20:15Z",
                          "wrsLongitudeGrid" : "217",
                          "wrsLatitudeGrid" : "15",
                          "endingDateTime" : "2000-01-27T12:20:44Z",
                          "orbitDirection" : "DESCENDING",
                          "orbitNumber" : 4178
                        },
                        "instrument" : {
                          "instrumentShortName" : "ETM",
                          "sensorType" : "OPTICAL"
                        },
                        "platform" : {
                          "platformShortName" : "Landsat",
                          "platformSerialIdentifier" : "7"
                        }
                      } ],
                      "status" : "ARCHIVED"
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request (invalid parameter)"
          },
          "404" : {
            "description" : "Dataset not found"
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      },
      "put" : {
        "tags" : [ "Update" ],
        "description" : "Insert a new dataset to the catalogue.",
        "operationId" : "Update",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        } ],
        "requestBody" : {
          "description" : "Insert a new dataset to the catalogue.",
          "content" : {
            "application/geo+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Feature"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Dataset has been successfully updated."
          },
          "400" : {
            "description" : "Bad request."
          },
          "415" : {
            "description" : "Unsupported Media Type."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Delete" ],
        "description" : "Delete a dataset from the catalogue.",
        "operationId" : "Delete",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        } ],
        "responses" : {
          "204" : {
            "description" : "Dataset has been deleted."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      }
    },
    "/eo-catalog/series/{parentIdentifier}/datasets/{datasetId}/productInformation/qualityInformation" : {
      "post" : {
        "tags" : [ "CreateQualityIndicators" ],
        "description" : "Create quality indicators.",
        "operationId" : "CreateQualityIndicators",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        } ],
        "requestBody" : {
          "description" : "create quality indicators of a dataset.",
          "content" : {
            "application/geo+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QualityInformation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Quality indicators have been created."
          },
          "400" : {
            "description" : "Bad request. Indicator is already exsisted."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      }
    },
    "/eo-catalog/series/{parentIdentifier}/datasets/{datasetId}/productInformation/qualityInformation/qualityIndicators" : {
      "put" : {
        "tags" : [ "UpdateQualityIndicators" ],
        "description" : "Update quality indicators.",
        "operationId" : "UpdateQualityIndicators",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        } ],
        "requestBody" : {
          "description" : "update quality indicators of a dataset.",
          "content" : {
            "application/geo+json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/QualityIndicator"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Quality indicators have been updated."
          },
          "400" : {
            "description" : "Bad request. Indicator not yet exsisted."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      },
      "post" : {
        "tags" : [ "CreateMetrics" ],
        "description" : "Create metrics.",
        "operationId" : "CreateMetrics",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        } ],
        "requestBody" : {
          "description" : "create quality metrics of a dataset.",
          "content" : {
            "application/geo+json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/QualityIndicator"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Metrics have been created."
          },
          "400" : {
            "description" : "Bad request. Metrics is already exsisted."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      }
    },
    "/eo-catalog/series/{parentIdentifier}/datasets/{datasetId}/productInformation/qualityInformation/qualityIndicators/{metricName}" : {
      "put" : {
        "tags" : [ "UpdateMetric" ],
        "description" : "Update a metric.",
        "operationId" : "UpdateMetric",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "name of metric.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "degradedDataPercentageMetric", "degradedAncillaryDataPercentageMetric", "formatCorrectnessMetric", "generalQualityMetric", "geometricQualityMetric", "radiometricQualityMetric", "sensorQualityMetric", "feasibilityControlMetric", "deliveryControlMetric", "ordinaryControlMetric" ]
          }
        } ],
        "requestBody" : {
          "description" : "update a metric of a dataset.",
          "content" : {
            "application/geo+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QualityIndicator"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Metric has been updated."
          },
          "400" : {
            "description" : "Bad request. Metric not yet exsisted."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      },
      "delete" : {
        "tags" : [ "DeleteMetric" ],
        "description" : "Delete a metric of a dataset.",
        "operationId" : "DeleteMetric",
        "parameters" : [ {
          "name" : "parentIdentifier",
          "in" : "path",
          "description" : "Series identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{eo:parentIdentifier}"
        }, {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Dataset identifier.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-value" : "{geo:uid}"
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "name of metric.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "degradedDataPercentageMetric", "degradedAncillaryDataPercentageMetric", "formatCorrectnessMetric", "generalQualityMetric", "geometricQualityMetric", "radiometricQualityMetric", "sensorQualityMetric", "feasibilityControlMetric", "deliveryControlMetric", "ordinaryControlMetric" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Metric has been deleted."
          },
          "500" : {
            "description" : "Unexpected error"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Point" : {
        "title" : "Point",
        "required" : [ "coordinates", "type" ],
        "type" : "object",
        "properties" : {
          "coordinates" : {
            "title" : "coordinates",
            "maxItems" : 2,
            "minItems" : 2,
            "type" : "array",
            "description" : "One position (longitude, latitude)",
            "items" : {
              "type" : "number"
            }
          },
          "type" : {
            "type" : "string",
            "enum" : [ "Point" ]
          }
        },
        "additionalProperties" : false
      },
      "MultiPoint" : {
        "title" : "point",
        "required" : [ "coordinates", "type" ],
        "type" : "object",
        "properties" : {
          "coordinates" : {
            "title" : "coordinates",
            "minItems" : 1,
            "type" : "array",
            "description" : "Array of positions",
            "items" : {
              "maxItems" : 2,
              "minItems" : 2,
              "type" : "array",
              "description" : "One position",
              "items" : {
                "type" : "number"
              }
            }
          },
          "type" : {
            "type" : "string",
            "enum" : [ "MultiPoint" ]
          }
        },
        "additionalProperties" : false
      },
      "LineString" : {
        "title" : "LineString",
        "required" : [ "coordinates", "type" ],
        "type" : "object",
        "properties" : {
          "coordinates" : {
            "title" : "coordinates",
            "minItems" : 2,
            "type" : "array",
            "description" : "Array of positions",
            "items" : {
              "maxItems" : 2,
              "minItems" : 2,
              "type" : "array",
              "description" : "One position",
              "items" : {
                "type" : "number"
              }
            }
          },
          "type" : {
            "type" : "string",
            "enum" : [ "LineString" ]
          }
        },
        "additionalProperties" : false
      },
      "MultiLineString" : {
        "title" : "MultiLineString",
        "required" : [ "coordinates", "type" ],
        "type" : "object",
        "properties" : {
          "coordinates" : {
            "title" : "coordinates",
            "minItems" : 1,
            "type" : "array",
            "description" : "Array of linestring",
            "items" : {
              "minItems" : 2,
              "type" : "array",
              "description" : "Linestring, i.e. array of positions",
              "items" : {
                "maxItems" : 2,
                "minItems" : 2,
                "type" : "array",
                "description" : "Position (longitude, lattitude)",
                "items" : {
                  "type" : "number"
                }
              }
            }
          },
          "type" : {
            "type" : "string",
            "enum" : [ "MultiLineString" ]
          }
        },
        "additionalProperties" : false
      },
      "Polygon" : {
        "title" : "Polygon",
        "required" : [ "coordinates", "type" ],
        "type" : "object",
        "properties" : {
          "coordinates" : {
            "title" : "coordinates",
            "minItems" : 1,
            "type" : "array",
            "description" : "Array of linestrings",
            "items" : {
              "minItems" : 1,
              "type" : "array",
              "description" : "Linear ring, i.e. linestring or array of positions",
              "items" : {
                "maxItems" : 2,
                "minItems" : 2,
                "type" : "array",
                "description" : "One position",
                "items" : {
                  "type" : "number"
                }
              }
            }
          },
          "type" : {
            "type" : "string",
            "enum" : [ "Polygon" ]
          }
        },
        "additionalProperties" : false
      },
      "MultiPolygon" : {
        "title" : "MultiPolygon",
        "required" : [ "coordinates", "type" ],
        "type" : "object",
        "properties" : {
          "coordinates" : {
            "title" : "coordinates",
            "minItems" : 1,
            "type" : "array",
            "description" : "Array of Polygons",
            "items" : {
              "minItems" : 1,
              "type" : "array",
              "description" : "Array of linestrings",
              "items" : {
                "type" : "array",
                "description" : "Linear ring, i.e. linestring or array of positions",
                "items" : {
                  "maxItems" : 2,
                  "minItems" : 2,
                  "type" : "array",
                  "description" : "One position",
                  "items" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "type" : {
            "type" : "string",
            "enum" : [ "MultiPolygon" ]
          }
        },
        "additionalProperties" : false
      },
      "Geometry" : {
        "title" : "Geometry",
        "type" : "object",
        "oneOf" : [ {
          "$ref" : "#/components/schemas/Point"
        }, {
          "$ref" : "#/components/schemas/MultiPoint"
        }, {
          "$ref" : "#/components/schemas/LineString"
        }, {
          "$ref" : "#/components/schemas/MultiLineString"
        }, {
          "$ref" : "#/components/schemas/Polygon"
        }, {
          "$ref" : "#/components/schemas/MultiPolygon"
        } ]
      },
      "Links" : {
        "title" : "Links",
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "Links" ]
          },
          "data" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "previews" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "up" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "profiles" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "alternates" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "via" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "related" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "first" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "last" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "previous" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "next" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "search" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "describedby" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          }
        },
        "description" : "OGC 14-055r2"
      },
      "Properties" : {
        "title" : "Properties",
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/CommonProperties"
        }, {
          "required" : [ "lang", "links" ],
          "type" : "object",
          "properties" : {
            "lang" : {
              "minLength" : 2,
              "type" : "string",
              "description" : "OGC 14-055r2"
            },
            "subtitle" : {
              "type" : "string",
              "description" : "OGC 14-055r2"
            },
            "creator" : {
              "type" : "string",
              "description" : "OGC 14-055r2"
            },
            "links" : {
              "$ref" : "#/components/schemas/Links"
            },
            "generator" : {
              "$ref" : "#/components/schemas/Agent"
            }
          }
        } ]
      },
      "Feature" : {
        "required" : [ "id", "properties", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "title" : "type",
            "type" : "string",
            "enum" : [ "Feature" ]
          },
          "id" : {
            "type" : "string",
            "format" : "uri"
          },
          "geometry" : {
            "nullable" : true,
            "oneOf" : [ {
              "$ref" : "#/components/schemas/Geometry"
            } ]
          },
          "bbox" : {
            "maxItems" : 4,
            "minItems" : 4,
            "type" : "array",
            "items" : {
              "type" : "number"
            }
          },
          "properties" : {
            "$ref" : "#/components/schemas/Properties_"
          }
        },
        "description" : "GeoJSON Feature"
      },
      "Link" : {
        "required" : [ "href" ],
        "type" : "object",
        "properties" : {
          "href" : {
            "type" : "string",
            "format" : "uri"
          },
          "type" : {
            "type" : "string",
            "description" : "MIME type"
          },
          "title" : {
            "type" : "string"
          },
          "length" : {
            "minimum" : 0,
            "exclusiveMinimum" : true,
            "type" : "integer"
          },
          "lang" : {
            "type" : "string",
            "description" : "RFC-3066"
          }
        },
        "description" : "OGC 14-055r2"
      },
      "FeatureCollection" : {
        "type" : "object",
        "description" : "GeoJSON FeatureCollection",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ControlInformation"
        }, {
          "required" : [ "features", "id", "type" ],
          "type" : "object",
          "properties" : {
            "@context" : {
              "type" : "string"
            },
            "type" : {
              "type" : "string",
              "description" : "OGC 14-055r2",
              "enum" : [ "FeatureCollection" ]
            },
            "id" : {
              "type" : "string",
              "description" : "OGC 14-055r2",
              "format" : "uri"
            },
            "bbox" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            },
            "properties" : {
              "$ref" : "#/components/schemas/Properties"
            },
            "features" : {
              "minItems" : 0,
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Feature"
              }
            },
            "exceptions" : {
              "minItems" : 1,
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Exception"
              }
            }
          }
        } ]
      },
      "Offering" : {
        "title" : "Offering",
        "required" : [ "code" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "format" : "uri"
          },
          "operations" : {
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          },
          "contents" : {
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          },
          "styles" : {
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          }
        },
        "description" : "Offering as defined in OGC 14-055r2"
      },
      "Queries" : {
        "type" : "object",
        "properties" : {
          "@context" : {
            "type" : "object"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "Queries" ]
          }
        },
        "additionalProperties" : {
          "minItems" : 1,
          "type" : "array",
          "description" : "Additional role values as per http://www.opensearch.org/Specifications/OpenSearch/1.1#Role_values.",
          "items" : {
            "$ref" : "#/components/schemas/Query"
          }
        },
        "description" : "Object with queries grouped by \"role\".  See also http://www.opensearch.org/Specifications/OpenSearch/1.1#OpenSearch_Query_element"
      },
      "Query" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "Query" ]
          },
          "title" : {
            "type" : "string"
          },
          "totalResults" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "searchTerms" : {
            "type" : "string"
          },
          "count" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "startIndex" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "startPage" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "language" : {
            "type" : "string"
          },
          "inputEncoding" : {
            "type" : "string"
          },
          "outputEncoding" : {
            "type" : "string"
          }
        },
        "additionalProperties" : true,
        "description" : "OpenSearch Query element as defined at http://www.opensearch.org/Specifications/OpenSearch/1.1#OpenSearch_Query_element."
      },
      "ControlInformation" : {
        "required" : [ "itemsPerPage", "startIndex", "totalResults" ],
        "type" : "object",
        "properties" : {
          "totalResults" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "startIndex" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "itemsPerPage" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "queries" : {
            "$ref" : "#/components/schemas/Queries"
          }
        }
      },
      "Agent" : {
        "minProperties" : 1,
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "Agent", "Person", "Organization" ]
          },
          "name" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string",
            "format" : "email"
          },
          "uri" : {
            "type" : "string",
            "format" : "uri"
          },
          "title" : {
            "type" : "string",
            "description" : "OGC 14-055r2 §7.1.8"
          },
          "version" : {
            "type" : "string",
            "description" : "OGC 14-055r2 §7.1.8"
          }
        },
        "description" : "RFC4287 §3.2 and OGC 14-055r2 §7.1.1.7, §7.1.8"
      },
      "Category" : {
        "required" : [ "term" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "Category" ]
          },
          "scheme" : {
            "type" : "string",
            "format" : "uri"
          },
          "term" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          }
        },
        "additionalProperties" : false,
        "description" : "OGC 14-055r2 §7.1.1.15"
      },
      "Properties_" : {
        "title" : "Properties",
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/DataIdentification"
        }, {
          "required" : [ "acquisitionInformation", "links", "status" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "enum" : [ "Properties" ]
            },
            "productId" : {
              "type" : "string"
            },
            "status" : {
              "type" : "string",
              "enum" : [ "ARCHIVED", "PLANNED", "ACQUIRED", "CANCELLED", "FAILED", "POTENTIAL", "REJECTED", "QUALITYDEGRADED" ]
            },
            "acquisitionInformation" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/AcquisitionInformation"
              }
            },
            "productInformation" : {
              "$ref" : "#/components/schemas/ProductInformation"
            },
            "links" : {
              "$ref" : "#/components/schemas/Links"
            },
            "kind" : {
              "type" : "string"
            },
            "offerings" : {
              "type" : "array",
              "description" : "OGC 14-055r2",
              "items" : {
                "$ref" : "#/components/schemas/Offering"
              }
            }
          }
        } ]
      },
      "ProductInformation" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProcessingInformation"
        }, {
          "$ref" : "#/components/schemas/CoverageDescription"
        }, {
          "required" : [ "availabilityTime" ],
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "string",
              "enum" : [ "ProductInformation" ]
            },
            "productType" : {
              "type" : "string"
            },
            "size" : {
              "type" : "integer"
            },
            "productVersion" : {
              "type" : "string"
            },
            "statusSubType" : {
              "type" : "string",
              "enum" : [ "ON-LINE", "OFF-LINE" ]
            },
            "qualityInformation" : {
              "$ref" : "#/components/schemas/QualityInformation"
            },
            "statusDetail" : {
              "type" : "string"
            },
            "availabilityTime" : {
              "type" : "string",
              "format" : "date-time"
            },
            "timeliness" : {
              "type" : "string"
            },
            "productGroupId" : {
              "type" : "string"
            },
            "archivingCenter" : {
              "type" : "string"
            },
            "referenceSystemIdentifier" : {
              "type" : "string"
            },
            "archivingDate" : {
              "type" : "string",
              "format" : "date-time"
            }
          }
        } ]
      },
      "ProcessingInformation" : {
        "type" : "object",
        "properties" : {
          "processingLevel" : {
            "type" : "string",
            "enum" : [ "1A", "1B", "1C", "2", "3" ]
          },
          "processorName" : {
            "type" : "string"
          },
          "processorVersion" : {
            "type" : "string"
          },
          "processingCenter" : {
            "type" : "string",
            "description" : "Codelist"
          },
          "processingDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "processingMode" : {
            "type" : "string",
            "description" : "Codelist"
          },
          "compositeType" : {
            "type" : "string"
          },
          "format" : {
            "type" : "string"
          },
          "productContentsType" : {
            "type" : "string"
          },
          "processingMethod" : {
            "type" : "string"
          },
          "processingMethodVersion" : {
            "type" : "string"
          }
        },
        "description" : "Subset of ProductInformation"
      },
      "QualityInformationDef" : {
        "type" : "object",
        "properties" : {
          "qualityStatus" : {
            "type" : "string",
            "enum" : [ "NOMINAL", "DEGRADED" ]
          },
          "qualityDegradation" : {
            "type" : "number",
            "description" : "Percentage"
          },
          "qualityDegradationTag" : {
            "type" : "string"
          },
          "qualityDegradationQuotationMode" : {
            "type" : "string",
            "enum" : [ "AUTOMATIC", "MANUAL" ]
          }
        }
      },
      "QualityInformation" : {
        "type" : "object",
        "description" : "Extended QualityInformation defined in OGC 17-003",
        "allOf" : [ {
          "$ref" : "#/components/schemas/QualityInformationDef"
        }, {
          "type" : "object",
          "properties" : {
            "qualityIndicators" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/QualityIndicator"
              }
            }
          }
        } ]
      },
      "DeliveryControlInformation" : {
        "type" : "object",
        "description" : "Results of QCMMS check 2",
        "allOf" : [ {
          "$ref" : "#/components/schemas/QualityMeasurement"
        }, {
          "type" : "object",
          "properties" : {
            "status" : {
              "type" : "string",
              "enum" : [ "WAITING", "IN_PROGRESS", "FINISHED", "NOT_AVAILABLE" ]
            },
            "complete" : {
              "type" : "boolean"
            },
            "date" : {
              "type" : "string",
              "format" : "date-time"
            },
            "filename" : {
              "type" : "string"
            }
          }
        } ]
      },
      "OrdinaryControlInformation" : {
        "type" : "object",
        "description" : "Results of QCMMS check 3",
        "allOf" : [ {
          "$ref" : "#/components/schemas/QualityMeasurement"
        }, {
          "type" : "object",
          "properties" : {
            "level1" : {
              "$ref" : "#/components/schemas/OrdinaryControlInformationProperty"
            },
            "level2" : {
              "$ref" : "#/components/schemas/OrdinaryControlInformationProperty"
            }
          }
        } ]
      },
      "OrdinaryControlInformationProperty" : {
        "type" : "object",
        "properties" : {
          "rastersComplete" : {
            "type" : "boolean"
          },
          "calibrationMetadata" : {
            "type" : "boolean"
          },
          "rastersRead" : {
            "type" : "boolean"
          },
          "metadataRead" : {
            "type" : "boolean"
          },
          "bits" : {
            "type" : "integer"
          },
          "columns" : {
            "type" : "integer"
          },
          "rows" : {
            "type" : "integer"
          },
          "channels" : {
            "type" : "integer"
          },
          "bands" : {
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          },
          "format" : {
            "type" : "string"
          },
          "epsg" : {
            "type" : "integer"
          },
          "xGeoref" : {
            "type" : "number"
          },
          "yGeoRef" : {
            "type" : "number"
          },
          "xCellRes" : {
            "type" : "number"
          },
          "yCellRes" : {
            "type" : "number"
          },
          "resampling" : {
            "type" : "string",
            "enum" : [ "CUBIC" ]
          },
          "characteristicsCompliant" : {
            "type" : "boolean"
          }
        }
      },
      "DetailedControlInformation" : {
        "type" : "object",
        "description" : "Results of QCMMS check 4",
        "allOf" : [ {
          "$ref" : "#/components/schemas/QualityMeasurement"
        }, {
          "type" : "object",
          "properties" : {
            "attribute3" : {
              "type" : "string"
            }
          }
        } ]
      },
      "FeasibilityControlInformation" : {
        "type" : "object",
        "description" : "Results of QCMMS check 1",
        "allOf" : [ {
          "$ref" : "#/components/schemas/QualityMeasurement"
        }, {
          "type" : "object",
          "properties" : {
            "searchDate" : {
              "type" : "string",
              "format" : "date-time"
            },
            "searchDateUpdate" : {
              "type" : "string",
              "format" : "date-time"
            }
          }
        } ]
      },
      "QualityIndicator" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/QualityMeasurement"
        }, {
          "$ref" : "#/components/schemas/FeasibilityControlInformation"
        }, {
          "$ref" : "#/components/schemas/DeliveryControlInformation"
        }, {
          "$ref" : "#/components/schemas/OrdinaryControlInformation"
        }, {
          "$ref" : "#/components/schemas/DetailedControlInformation"
        } ]
      },
      "QualityMeasurement" : {
        "required" : [ "isMeasurementOf", "value" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "QualityMeasurement" ]
          },
          "isMeasurementOf" : {
            "type" : "string",
            "description" : "dqv:isMeasurementOf",
            "format" : "uri",
            "enum" : [ "http://qcmms.esa.int/quality-indicators/#degradedAncillaryDataPercentageMetric", "http://qcmms.esa.int/quality-indicators/#sensorQualityMetric", "http://qcmms.esa.int/quality-indicators/#radiometricQualityMetric", "http://qcmms.esa.int/quality-indicators/#degradedDataPercentageMetric", "http://qcmms.esa.int/quality-indicators/#geometricQualityMetric", "http://qcmms.esa.int/quality-indicators/#generalQualityMetric", "http://qcmms.esa.int/quality-indicators/#formatCorrectnessMetric", "http://qcmms.esa.int/quality-indicators/#feasibilityControlMetric", "http://qcmms.esa.int/quality-indicators/#deliveryControlMetric", "http://qcmms.esa.int/quality-indicators/#ordinaryControlMetric", "http://qcmms.esa.int/quality-indicators/#detailedControlMetric" ]
          },
          "value" : {
            "description" : "dqv:value"
          },
          "generatedAtTime" : {
            "type" : "string",
            "description" : "prov:generatedAtTime",
            "format" : "date-time"
          }
        },
        "description" : "dqv:QualityMeasurement"
      },
      "CoverageDescription" : {
        "type" : "object",
        "properties" : {
          "cloudCover" : {
            "type" : "number"
          },
          "snowCover" : {
            "type" : "number"
          }
        },
        "description" : "Subset of ProductInformation"
      },
      "DataIdentification" : {
        "required" : [ "date", "identifier", "title", "updated" ],
        "type" : "object",
        "properties" : {
          "parentIdentifier" : {
            "type" : "string"
          },
          "doi" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "identifier" : {
            "type" : "string"
          },
          "date" : {
            "type" : "string"
          },
          "updated" : {
            "pattern" : "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?(Z|[\\+\\-][0-9]{2}:[0-9]{2})$",
            "type" : "string",
            "format" : "date-time"
          },
          "additionalAttributes" : {
            "minProperties" : 1,
            "type" : "object"
          }
        },
        "description" : "Subset of Properties"
      },
      "OrbitParameters" : {
        "type" : "object",
        "properties" : {
          "orbitDirection" : {
            "type" : "string",
            "enum" : [ "ASCENDING", "DESCENDING" ]
          },
          "lastOrbitDirection" : {
            "type" : "string",
            "enum" : [ "ASCENDING", "DESCENDING" ]
          },
          "orbitDuration" : {
            "type" : "integer"
          },
          "ascendingNodeDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "ascendingNodeLongitude" : {
            "type" : "number"
          },
          "orbitNumber" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "lastOrbitNumber" : {
            "type" : "number"
          }
        },
        "description" : "Subset of AcquisitionParameters"
      },
      "WavelengthInformation" : {
        "minProperties" : 1,
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "WavelengthInformation" ]
          },
          "discreteWavelengths" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "minimum" : 0,
              "exclusiveMinimum" : true,
              "type" : "number"
            }
          },
          "endWavelength" : {
            "minimum" : 0,
            "exclusiveMinimum" : true,
            "type" : "number"
          },
          "spectralRange" : {
            "type" : "string",
            "enum" : [ "INFRARED", "NIR", "SWIR", "MWIR", "LWIR", "FIR", "UV", "VISIBLE", "MICROWAVE", "OTHER" ]
          },
          "startWavelength" : {
            "minimum" : 0,
            "exclusiveMinimum" : true,
            "type" : "number"
          },
          "wavelengthResolution" : {
            "type" : "number"
          }
        },
        "additionalProperties" : false
      },
      "VerticalSpatialDomain" : {
        "type" : "object",
        "properties" : {
          "highestLocation" : {
            "type" : "string"
          },
          "lowestLocation" : {
            "type" : "string"
          },
          "locationUnit" : {
            "type" : "string",
            "enum" : [ "bar", "m" ]
          }
        },
        "description" : "Subset of AcquisitionParameters"
      },
      "TemporalInformation" : {
        "required" : [ "beginningDateTime", "endingDateTime" ],
        "type" : "object",
        "properties" : {
          "beginningDateTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "endingDateTime" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "description" : "Subset of AcquisitionParameters"
      },
      "AcquisitionAngles" : {
        "type" : "object",
        "properties" : {
          "illuminationAzimuthAngle" : {
            "type" : "number"
          },
          "illuminationZenithAngle" : {
            "type" : "number"
          },
          "illuminationElevationAngle" : {
            "type" : "number"
          },
          "incidenceAngle" : {
            "type" : "number"
          },
          "minimumIncidenceAngle" : {
            "type" : "number"
          },
          "maximumIncidenceAngle" : {
            "type" : "number"
          },
          "incidenceAngleVariation" : {
            "type" : "number"
          },
          "acrossTrackIncidenceAngle" : {
            "type" : "number"
          },
          "alongTrackIncidenceAngle" : {
            "type" : "number"
          },
          "instrumentAzimuthAngle" : {
            "type" : "number"
          },
          "instrumentZenithAngle" : {
            "type" : "number"
          },
          "instrumentElevationAngle" : {
            "type" : "number"
          },
          "pitch" : {
            "type" : "number"
          },
          "roll" : {
            "type" : "number"
          },
          "yaw" : {
            "type" : "number"
          }
        },
        "additionalProperties" : false
      },
      "Platform" : {
        "minProperties" : 1,
        "required" : [ "platformShortName" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "Platform" ]
          },
          "id" : {
            "type" : "string",
            "format" : "uri"
          },
          "platformShortName" : {
            "type" : "string"
          },
          "platformSerialIdentifier" : {
            "type" : "string"
          },
          "orbitType" : {
            "type" : "string",
            "enum" : [ "GEO", "LEO" ]
          }
        },
        "additionalProperties" : false
      },
      "Instrument" : {
        "required" : [ "instrumentShortName" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "Instrument" ]
          },
          "id" : {
            "type" : "string",
            "format" : "uri"
          },
          "sensorType" : {
            "type" : "string",
            "enum" : [ "OPTICAL", "RADAR", "ATMOSPHERIC", "ALTIMETRIC", "LIMB" ]
          },
          "instrumentShortName" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          }
        },
        "additionalProperties" : false
      },
      "InstrumentParameters" : {
        "minProperties" : 1,
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "InstrumentParameters" ]
          },
          "operationalMode" : {
            "type" : "string"
          },
          "swathIdentifier" : {
            "type" : "string"
          },
          "polarisationMode" : {
            "type" : "string",
            "description" : "Sar",
            "enum" : [ "S", "D", "T", "Q", "UNDEFINED" ]
          },
          "polarisationChannels" : {
            "type" : "string",
            "description" : "Sar"
          },
          "resolution" : {
            "type" : "number"
          },
          "verticalResolution" : {
            "type" : "number",
            "description" : "Atm, Lmb"
          },
          "waveLengths" : {
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/WavelengthInformation"
            }
          },
          "measurementType" : {
            "type" : "string",
            "enum" : [ "ABSORPTION", "EMISSION" ]
          },
          "dopplerFrequency" : {
            "minimum" : 0,
            "exclusiveMinimum" : true,
            "type" : "number",
            "description" : "Sar"
          },
          "samplingRates" : {
            "type" : "array",
            "description" : "Alt",
            "items" : {
              "minimum" : 0,
              "exclusiveMinimum" : true,
              "type" : "number"
            }
          }
        },
        "additionalProperties" : false
      },
      "AcquisitionParameters" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/TemporalInformation"
        }, {
          "$ref" : "#/components/schemas/VerticalSpatialDomain"
        }, {
          "$ref" : "#/components/schemas/OrbitParameters"
        }, {
          "required" : [ "acquisitionType" ],
          "type" : "object",
          "properties" : {
            "acquisitionType" : {
              "type" : "string",
              "enum" : [ "NOMINAL", "CALIBRATION", "OTHER" ]
            },
            "acquisitionSubType" : {
              "type" : "string"
            },
            "startTimeFromAscendingNode" : {
              "minimum" : 0,
              "type" : "integer"
            },
            "completionTimeFromAscendingNode" : {
              "minimum" : 0,
              "type" : "integer"
            },
            "relativeOrbitNumber" : {
              "type" : "integer"
            },
            "wrsLongitude" : {
              "type" : "string"
            },
            "wrsLatitude" : {
              "type" : "string"
            },
            "tileId" : {
              "type" : "string"
            },
            "groundTrackUncertainty" : {
              "type" : "number"
            },
            "cycleNumber" : {
              "minimum" : 0,
              "type" : "integer"
            },
            "antennaLookDirection" : {
              "type" : "string",
              "enum" : [ "LEFT", "RIGHT" ]
            },
            "acquisitionStation" : {
              "type" : "string"
            },
            "acquisitionAngles" : {
              "$ref" : "#/components/schemas/AcquisitionAngles"
            },
            "operationalMode" : {
              "type" : "string"
            }
          }
        } ]
      },
      "AcquisitionInformation" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "AcquisitionInformation" ]
          },
          "platform" : {
            "$ref" : "#/components/schemas/Platform"
          },
          "instrument" : {
            "$ref" : "#/components/schemas/Instrument"
          },
          "instrumentParameters" : {
            "$ref" : "#/components/schemas/InstrumentParameters"
          },
          "acquisitionParameters" : {
            "$ref" : "#/components/schemas/AcquisitionParameters"
          }
        }
      },
      "CommonProperties" : {
        "required" : [ "title", "updated" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "Properties" ]
          },
          "title" : {
            "type" : "string",
            "description" : "OGC 14-055r2"
          },
          "updated" : {
            "type" : "string",
            "description" : "OGC 14-055r2",
            "format" : "date-time"
          },
          "date" : {
            "type" : "string",
            "description" : "OGC 14-055r2"
          },
          "publisher" : {
            "type" : "string",
            "description" : "OGC 14-055r2"
          },
          "rights" : {
            "type" : "string",
            "description" : "OGC 14-055r2"
          },
          "authors" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Agent"
            }
          },
          "categories" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "OGC 14-055r2",
            "items" : {
              "$ref" : "#/components/schemas/Category"
            }
          }
        }
      },
      "Exception" : {
        "required" : [ "exceptionCode" ],
        "type" : "object",
        "properties" : {
          "exceptionCode" : {
            "type" : "string",
            "description" : "Represents ows:exceptionCode",
            "format" : "uri"
          },
          "exceptionText" : {
            "type" : "string",
            "description" : "Represents ows:exceptionText"
          },
          "locator" : {
            "type" : "string",
            "description" : "Represents ows:locator."
          }
        },
        "additionalProperties" : false,
        "description" : "OGC 06-121r9"
      },
      "ExceptionReport" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "ExceptionReport" ]
          },
          "exceptions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Exception"
            }
          }
        },
        "description" : "OGC 06-121r9"
      },
	  		"DataIdentification": {
			"description": "Subset of Properties",
			"type": "object",
			"properties": {
				"parentIdentifier": {
					"type": "string"
				},
				"doi": {
					"type": "string"
				},
				"title": {
					"type": "string"
				},
				"identifier": {
					"type": "string"
				},
				"date": {
					"type": "string"
				},
				"updated": {
					"type": "string",
					"pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?(Z|[\\+\\-][0-9]{2}:[0-9]{2})$",
					"format": "date-time"
				},
				"additionalAttributes": {
					"type": "object",
					"minProperties": 1
				}
			},
			"required": [
				"title",
				"identifier",
				"date",
				"updated"
			]
		},
		"ProcessingInformation": {
			"description": "Subset of ProductInformation",
			"type": "object",
			"properties": {
				"processingLevel": {
					"type": "string",
					"enum": [
						"1A",
						"1B",
						"1C",
						"2",
						"3"
					]
				},
				"processorName": {
					"type": "string"
				},
				"processorVersion": {
					"type": "string"
				},
				"processingCenter": {
[...]
